body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#container {
    position: relative;
    width: 100%;
    max-width: 480px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
    font-size: 22px;
}
h4 {
    background-color:#bdc3c7
}

form {
    display: flex;
    flex-direction: column;
}
.form-group {
    margin-bottom: 15px;
}
label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #34495e;
}
select, input[type="date"], input[type="number"] {
    width:max-content;
    padding: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    font-size: 12px;
    margin-bottom: 5px;
}
.section-title {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.result {
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
.result strong {
    color: #2980b9;
    font-size: 20px;
    font-weight: bold;
}
input[type="submit"] {
    background-color: #2e63cc;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}
input[type="submit"]:hover {
    background-color: #2e63cc;
}

#ingreso_datos .container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    
}
#ingreso_datos label {
    font-size: 14px;
    margin-right: 5px;
    

}
#ingreso_datos input[type="number"] {
    padding: 5px;
    font-size: 14px;
    width: 80px;
}


#arqueocaja {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
#arqueocaja .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
#arqueocaja label {
    flex: 0 0 20px;
    font-size: 14px;
    margin-right: 1px;
    text-align: right;
}
#arqueocaja input[type="number"] {
    flex: 1;
    padding: 5px;
    font-size: 14px;
    width: 30px;
}

#resultado {
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
#contenedor_boton {
    display: flex;
    align-items: center;
    justify-content: center;
}